@import "config";

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  padding: 40px 0;
  background-color: #f6f6f7;
}

.container {
  width: 100%;
  max-width: 1145px;
  margin: 0 auto;
  padding: 0 15px;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  font: inherit;
  font-size: 12px;
  color: #fff;
  background: #000;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
  background: #f4f6f7;
  border: 1px solid #f4f6f7;
  border-radius: 4px;
  font-family: Roboto Slab;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: $text;
  width: 96px;
  height: 34px;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background: darken($color: #f4f6f7, $amount: 10);
  }

  &--violet {
    background: $violet;
    border-color: $violet;
    color: #fff;

    &:hover {
      background: darken($color: $violet, $amount: 10);
    }
  }
}

// Header
.header {
  margin-bottom: 38px;
}

.header__inner {
  background: #fff;
  padding: 27px 32px 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 21px;
}

.nav__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #b8bbc4;
  transition: all 0.2s linear;

  &:hover {
    color: #8f8f8f;
  }

  &.active {
    color: $orange;
    pointer-events: none;
  }
}

.nav__line {
  display: inline-block;
  width: 1px;
  min-width: 1px;
  height: 16px;
  background: #b8bbc4;
  margin: 0 22px;
}

.header__search {
  width: 140px;
  height: 34px;
  border: 1px solid #b8bbc4;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Roboto Slab;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: $text;
  outline: none;
  padding-left: 13px;

  &::placeholder {
    font-family: Roboto Slab;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;

    color: #b8bbc4;
  }
}

.header__line {
  background: #b8bbc4;
  width: 100%;
  height: 1px;
  margin-top: 21px;
  margin-bottom: 19px;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 7px;
  margin-right: 21px;
  width: 100px;
  height: 25px;
  background: $violet;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  border: 1px solid $violet;
  transition: all 0.2s linear;

  &:hover {
    background: transparent;
    color: $violet;
  }

  &--orange {
    border-color: $orange;
    background: $orange;

    &:hover {
      color: $orange;
    }
  }
}

// Items
.item {
  margin-bottom: 25px;
}

.item__wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  height: 404px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px 19px;
}

.item__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item__label {
  display: block;
  margin-top: 16px;
  color: $orange;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;

  &:hover {
    border-color: $orange;
  }
}

.item__body {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}

.item__bot {
  width: 100%;
}

.item__btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item__bot__line {
  margin-top: 32px;
  margin-bottom: 17px;
  height: 1px;
  width: 100%;
  background: #b8bbc4;
}

.item__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.item__icons__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item__icons__item {
  text-decoration: none;
  display: inline-block;
  width: 19px;
  height: 19px;
  max-width: 19px;
  max-height: 19px;
  margin-right: 11px;

  &:last-child {
    margin-right: 0;
  }
}

// Select
.header__select.exchange__select {
  width: 140px;
  position: relative;
  height: 34px;
  user-select: none;
  background: #fff;
  font-size: 10px;
  line-height: 13px;
  color: $gray;

  &--active {
    .exchange__select__body {
      display: block;
    }

    .exchange__select__arrow {
      transform: rotate(-180deg);
    }
  }
}

.header__select {
  .exchange__select__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    border: 1px solid $gray;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 15px;

    &:hover {
      border-color: rgba($color: $gray, $alpha: 0.7);
      .exchange__select__arrow {
        opacity: 0.7;
      }
    }
  }

  .exchange__select__icon {
    width: 24px;
    height: 24px;
  }

  .exchange__select__arrow {
    width: 8px;
    height: 8px;
    margin-left: 10px;
    transition: all 0.2s linear;
  }

  .exchange__select__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .exchange__select__body {
    display: none;
    position: absolute;
    left: 0;
    top: 38px;
    width: 150%;
    z-index: 5;
    border-radius: 3px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .exchange__select__search__input {
    border-radius: 3px 3px 0 0;
    height: 34px;
    width: 100%;
    border: 1px solid $gray;
    font: inherit;
    padding: 0 12px;

    &:focus {
      outline: none;
      border-color: $violet;
    }

    &::placeholder {
      font: inherit;
      color: $gray;
    }
  }

  .exchange__select__list {
    border: 1px solid $gray;
    border-top: none;
    background: #fff;
    max-height: 170px;
    overflow-y: scroll;
    border-radius: 0 0 3px 3px;

    .exchange__select__arrow {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 4px; /* 1 - вертикальный скроллбар */
    }
    &::-webkit-scrollbar {
      &:horizontal {
        height: 4px; /* 1 - горизонтальный скроллбар */
      }
    }
    &::-webkit-scrollbar-button {
      background: #fff; /* 2 - кнопка */
    }
    &::-webkit-scrollbar-track {
      background: #fff; /* 3 - трек */
    }
    &::-webkit-scrollbar-track-piece {
      background: #fff; /* 4 – видимая часть трека */
    }
    &::-webkit-scrollbar-thumb {
      background: $violet;
      border-radius: 100px;
    }
  }

  .exchange__select__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-decoration: none;
    color: $text;

    &:hover {
      color: $violet;
      background: transparent;
    }
  }
}

@media (max-width: $mobile) {
  .nav {
    justify-content: center;
  }

  .header__search {
    width: 100%;
  }

  .nav__link {
    font-size: 12px;
  }

  .tag__item {
    margin-right: 15px;
    font-size: 11px;
    width: 90px;
  }

  .header__inner {
    padding: 27px 15px 11px;
  }

  .header__select.exchange__select {
    width: 100%;
  }

  .header__select {
    .exchange__select__body {
      width: 100%;
    }
  }
}
